@model SocialMediaPlatform.Models.RegisterModel
@using System.Configuration
@inject IConfiguration Configuration
@{
    string PublicKey = Configuration.GetValue<string>("AppSettings:ReCAPTCHA_SiteKey");

}
<head>
	<link href="~/css/LoginAndRegister.css" rel="stylesheet" />
	<title>Sign Up</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("recaptchaToken").value = token;
            document.getElementById("RegisterForm").submit();
        }
    </script>
</head>
<main id="Register-Main">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "Form", @id="RegisterForm" }))
    {
        <div id="Register-Container">
            @Html.ValidationSummary()
            <div class="form-group">
                <input type="hidden" id="recaptchaToken" name="recaptchaToken" />
            </div>
            <div class="validation-errors">
                @if (ViewBag.Error != null)
                {
                    <p class="Error-Register">@ViewBag.Error</p>
                }
            </div>         
            <p class="Register-Paragraph">
                <span>Username</span>
                <br />
                @Html.TextBoxFor(x => x.UserName, new { @class = "Register-Input" })
            </p>
            <p class="Register-paragraph">
                <span>Email Adress</span>
                <br />
                @Html.TextBoxFor(x => x.EmailAdress, new { @class = "Register-Input" })
            </p>
            <p class="Register-paragraph">
                <span>Password</span>
                <br />
                @Html.PasswordFor(x => x.Password, new { @class = "Register-Input" })
            </p>
            <p class="Register-paragraphFiles">
                <input class="CustomFiles" type="file" id="CustomFiles" name="ProfileImage" />
                <label id="CustomFile-Label" for="CustomFiles">Choose Photo</label>
            </p>
            <button class="g-recaptcha" data-sitekey="@PublicKey" data-callback="onSubmit" data-action="submit" id="Button-Register">SIGN UP</button>
           
        </div>
    }
	<div class="RedirectDiv">
		<h3>If you have account </h3>
		@Html.ActionLink("LOGIN", "Login", "Account", null, new { @class = "Button-Redirect" })
	</div>
    <script src="~/JavaScript/RegisterScript.js"></script>
</main>
