@using SocialMediaPlatform.Models
@model List<PostModel>
<link href="css/MainPageStyle.css" rel="stylesheet">

<div id="AddPost">
	<h2>Add Post</h2>
	<form asp-controller="MainPage" asp-action="SavePost" method="post">
		@Html.AntiForgeryToken()
		<input type="text" id="Add-Post-Content" placeholder="Enter Content" name="Content" />
		<br />
		<button id="Add-Post-Button" type="submit">Add</button>
	</form>
</div>
<div id="PostsBlock">
	@if (Model != null)
	{
		foreach (var Post in Model)
		{
			<div class="Post">
				<div class="CreatorContainer">
					<div class="Creator-Img-Block">
						<img class="Creator-Img" src="/Icons/Like-Icon.png" />
					</div>
					<div class="Creator-Name-Block">
						@Post.Creator.UserName
					</div>
				</div>
				<div class="Post-Contnet-Block">
					<p class="Post-Content">@Post.Content</p>
				</div>
				<div class="Post-Reaction-Block">
					<div class="Likes">
						<div class="Like-Icon">
							@if (Post.IsLikedByCurrentUser)
							{
								<button id="Like-Button">
									<img class="Like-Icon-Img" id="LikeIcon-@Post.Id" src="/Icons/Like-Icon2.png" />
								</button>
							}
							else
							{
								<button id="Like-Button">
									<img class="Like-Icon-Img" id="LikeIcon-@Post.Id" src="/Icons/Like-Icon1.png" />
								</button>
							}
							
						</div>
						<div class="Likes-Numer">
							<p class="Likes-Number-Paragraph">@Post.NumberOfLikes</p>
						</div>
					</div>
					<div class="Comments-Stats">
						<div class="Comment-Icon">
							<img class="Comment-Icon-Img" src="/Icons/Comment-Icon.png" />
						</div>
						<div class="Comments-Number">
							<p class="Comments-Number-Paragraph">@Post.NumberOfComments</p>
						</div>
					</div>
				</div>
			</div>
		
		}
	}
</div>
