@page "/ChangePassword"
@model SocialMediaPlatform.Models.ChangePasswordModel
<head>
	<link href="~/css/ChangePassword.css" rel="stylesheet" />
	<title>Change Password</title>
</head>
<main id="ChangePassword-Main">
	<h2>Enter data to change password</h2>
	@using (Html.BeginForm("ChangePasswordByRecoveryCode", "Password", FormMethod.Post, new { @id = "ChangePassword-Form" }))
{
	@Html.ValidationSummary()
		<div class="validation-errors">
			@if (ViewBag.Error != null)
			{
				<p class="Error-Register">@ViewBag.Error</p>
			}
		</div>
	@Html.HiddenFor(x => x.Email)
	<p class="ChangePassword-Paragraph"><span>New Password</span>@Html.PasswordFor(x => x.NewPassword, new { @class = "ChangePassword-Input" })</p>
	<p class="ChangePassword-Paragraph"><span>Confirm Password</span>@Html.PasswordFor(x => x.ConfirmPassword, new { @class = "ChangePassword-Input" })</p>
	<p class="ChangePassword-Paragraph"><span>Recovery Code</span>@Html.TextBoxFor(x => x.RecoveryCode, new { @class = "ChangePassword-Input" })</p>
	<button id="ChangePassword-Button" type="submit">Change Password</button>
}
</main>